<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.std.account.dao.IChargeDAO">
	<resultMap id="charge_DB_Result" type="charge">
		<result column="code" property="code" />
		<result column="pay_group" property="payGroup" />
		<result column="ref_no" property="refNo" />
		<result column="account_number" property="accountNumber" />
		<result column="amount" property="amount" />
		
		<result column="account_name" property="accountName" />
		<result column="biz_type" property="bizType" />
		<result column="biz_note" property="bizNote" />
		<result column="pay_card_info" property="payCardInfo" />
		<result column="pay_card_no" property="payCardNo" />
		
		<result column="status" property="status" />
		<result column="apply_user" property="applyUser" />
		<result column="apply_note" property="applyNote" />
		<result column="apply_datetime" property="applyDatetime" />
		<result column="pay_user" property="payUser" />
		
		<result column="pay_note" property="payNote" />
		<result column="pay_datetime" property="payDatetime" />
		<result column="channel_type" property="channelType" />
		<result column="system_code" property="systemCode" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="payGroup != null and payGroup != '' ">
				AND t.pay_group = #{payGroup}
			</if>
			<if test="refNo != null and refNo != '' ">
				AND t.ref_no = #{refNo}
			</if>
			<if test="accountNumber != null and accountNumber != '' ">
				AND t.account_number = #{accountNumber}
			</if>
			<if test="accountName != null and accountName != '' ">
				AND t.account_name like "%"#{accountName}"%"
			</if>
			<if test="currency != null and currency != '' ">
				AND ta.currency = #{currency}
			</if>
			<if test="bizType != null and bizType != '' ">
				AND t.biz_type = #{bizType}
			</if>
			<if test="payCardNo != null and payCardNo != '' ">
				AND t.pay_card_no = #{payCardNo}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="applyUser != null and applyUser != '' ">
				AND t.apply_user = #{applyUser}
			</if>
			<if test="applyDatetimeStart != null and applyDatetimeStart != '' ">
				<![CDATA[AND t.apply_datetime >= #{applyDatetimeStart}]]>
			</if>
			<if test="applyDatetimeEnd != null and applyDatetimeEnd != '' ">
				<![CDATA[AND t.apply_datetime <= #{applyDatetimeEnd}]]>
			</if>
			<if test="payUser != null and payUser != '' ">
				AND t.pay_user = #{payUser}
			</if>
			<if test="payDatetimeStart != null and payDatetimeStart != '' ">
				<![CDATA[AND t.pay_datetime >= #{payDatetimeStart}]]>
			</if>
			<if test="payDatetimeEnd != null and payDatetimeEnd != '' ">
				<![CDATA[AND t.pay_datetime <= #{payDatetimeEnd}]]>
			</if>
			<if test="channelType != null and channelType != '' ">
				AND t.channel_type = #{channelType}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
		</trim>
	</sql>
	<select id="select_charge" parameterType="charge" resultMap="charge_DB_Result">
		SELECT
		t.code
		,t.pay_group
		,t.ref_no
		,t.account_number
		,t.amount
		
		,t.account_name
		,ta.currency
		,t.biz_type
		,t.biz_note
		,t.pay_card_info
		,t.pay_card_no
		
		,t.status
		,t.apply_user
		,t.apply_datetime
		,t.pay_user
		,t.pay_note
		
		,t.pay_datetime
		,t.channel_type
		,t.system_code
		,t.company_code
		FROM
		tstd_charge t inner join tstd_account ta on t.account_number = ta.account_number
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_charge_count" parameterType="charge" resultType="java.lang.Long">
		SELECT count(1) FROM tstd_charge t inner join tstd_account ta on t.account_number = ta.account_number
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_charge" parameterType="charge" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tstd_charge(
		code
		,pay_group
		,ref_no
		,account_number
		,amount
		
		,account_name
		,biz_type
		,biz_note
		,pay_card_info
		,pay_card_no
		
		,status
		,apply_user
		,apply_datetime
		,channel_type
		,system_code

		,company_code
		)
		VALUES(
		#{code}
		,#{payGroup}
		,#{refNo}
		,#{accountNumber}
		,#{amount}
		
		,#{accountName}
		,#{bizType}
		,#{bizNote}
		,#{payCardInfo}
		,#{payCardNo}
		
		,#{status}
		,#{applyUser}
		,#{applyDatetime}
		,#{channelType}
		,#{systemCode}
		
		,#{companyCode}
		)
	</insert>

	<update id="pay_order" parameterType="charge">
		UPDATE tstd_charge SET
		status = #{status}
		,pay_user = #{payUser}
		,pay_note = #{payNote}
		,pay_datetime=#{payDatetime}
		WHERE code = #{code}
	</update>
</mapper>
